body {
    background-color:#1fb6f7;
}

header {
    background-color:#4ba3de;
    padding:15px;
}


ul li{
    font-weight:bold;
}

p {
    padding:15px;
}

footer {
    background-color:#4ba3de;
    padding:15px;
}
